<form [formGroup]="productDetails" (ngSubmit)="onSubmit(productDetails)" *ngIf="this.productDetails" novalidate>
    <label> Product Details </label>
    <br>
    <div class="form-check">
        <label class="custom-control-inline">Select Category</label>
        <ng-container class="form-check-input custom-control-inline" *ngFor="let category of values(category);">
            <input type="radio" id="category" name="category" value="{{category}}" formControlName="category"
                class="custom-control-inline">{{category}}
        </ng-container>
    </div>
    <div class="form-check">
        <label class="custom-control-inline">Select Age</label>
        <ng-container class="form-check-input custom-control-inline" *ngFor="let age of values(age);">
            <input type="radio" id="age" name="age" value="{{age}}" formControlName="age"
                class="custom-control-inline">{{age}}
        </ng-container>
    </div>
    <div class="form-check">
        <label class="custom-control-inline">Select State</label>
        <ng-container class="form-check-input custom-control-inline" *ngFor="let state of values(state);">
            <input type="radio" id="state" name="state" value="{{state}}" formControlName="state"
                class="custom-control-inline">{{state}}
        </ng-container>
    </div>
    <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" id="productName" aria-describedby="emailHelp"
            placeholder="Enter Product Name" formControlName="productName">
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity" formControlName="quantity">
    </div>
    <div class="form-group">
        <label for="itemTotal">Item Total Cost</label>
        <input type="text" class="form-control" id="itemTotal" placeholder="Enter Cost" formControlName="itemTotal">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>