<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/pexels-rfstudio-3825527.jpg" height="350px" class="card-img-top" alt="First Image">
                <div class="card-body">
                    <h5 class="card-title">Medicine</h5>
                    <p class="card-text">Trust</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/pexels-chokniti-khongchum-2280547.jpg" height="350px" class="card-img-top" alt="First Image">
                <div class="card-body">
                    <h5 class="card-title">Medicine</h5>
                    <p class="card-text"> All types of Medicine</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/pexels-polina-tankilevitch-3873135.jpg" height="350px" class="card-img-top" alt="First Image">
                <div class="card-body">
                    <h5 class="card-title">Medicine</h5>
                    <p class="card-text">Best Website</p>
                </div>
            </div>
        </div>
    </div>
</div>